# Node
node_modules/

# Python
__pycache__/
*.pyc

# Mac
.DS_Store
# --- Secrets & Config ---
.env
.env.local
.vscode/
.idea/

# --- Python Junk ---
__pycache__/
*.py[cod]
*$py.class
venv/
.pytest_cache/
.ipynb_checkpoints/

# --- Data & Logs ---
*.csv
*.log
airflow/logs/
airflow/db/
